<footer>
    <div class="block-content mt-3">
        <div class="ng-star-inserted">
            <div
                class="grid grid-nogutter surface-section px-4 py-4 md:px-6 lg:px-8 border-top-1 surface-border"
            >
                <div class="col-12 lg:col-6 lg:border-right-1 surface-border">
                    <img
                        src="assets/images/logo.png"
                        alt="Peak logo"
                        class="w-9rem mx-auto lg:mx-0"
                    /><span class="text-900 block mt-4 mr-3"
                        >Sự hài lòng của bạn là niềm vinh hạnh đối với chúng tôi</span
                    ><span class="text-500 block mt-4">© 2022, Peak. Powered by DTeam</span>
                    <span class="text-600 block mt-4"
                        ><i class="pi pi-phone mr-2"></i>1234 / 12 34 567</span
                    >
                </div>
                <div class="col-12 md:col-6 lg:col-3 mt-4 lg:mt-0 lg:pl-4 flex flex-column">
                    <span class="text-900 text-xl font-medium block">Dịch vụ khách hàng</span>
                    <ul class="list-none p-0">
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Liên Hệ Chúng Tôi</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Phương Thức Thanh Toán</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Điểm thưởng</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                            ></a>
                        </li>
                    </ul>
                </div>
                <div class="col-12 lg:col-3 md:col-6 flex mt-4 lg:mt-0 lg:pl-4 flex-column">
                    <span class="text-900 text-xl font-medium block">Hổ trợ khách hàng</span>
                    <ul class="list-none p-0">
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Phí vận chuyển</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Trả Lại</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Trách Nhiệm Xã Hội</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Hướng Dẫn Đặt Hàng</a
                            >
                        </li>
                        <li>
                            <a
                                tabindex="0"
                                class="text-600 hover:text-900 transition-duration-150 cursor-pointer mt-3 block"
                                >Điểm thưởng</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
            <div
                class="surface-section px-3 py-4 lg:px-8 flex flex-column lg:flex-row justify-content-between align-items-center"
            >
                <div class="col-fixed flex flex-wrap flex-order-1 lg:flex-order-0">
                    <img
                        src="assets/images/footer/storefront-1-25.svg"
                        alt="Visa"
                        class="w-3rem mr-3"
                    /><img
                        src="assets/images/footer/storefront-1-24.svg"
                        alt="PayPal"
                        class="w-3rem mr-3"
                    /><img
                        src="assets/images/footer/storefront-1-23.svg"
                        alt="Mastercard"
                        class="w-3rem mr-3"
                    /><img
                        src="assets/images/footer/storefront-1-22.svg"
                        alt="Apple Pay"
                        class="w-3rem"
                    />
                </div>
                <div class="col-fixed flex align-items-center flex-order-0 lg:flex-order-1">
                    <a tabindex="0" class="cursor-pointer mr-3"
                        ><i
                            class="pi pi-facebook surface-900 p-1 text-sm border-circle text-0"
                        ></i></a
                    ><a tabindex="0" class="cursor-pointer mr-3"
                        ><i
                            class="pi pi-twitter surface-900 p-1 text-sm border-circle text-0"
                        ></i></a
                    ><a tabindex="0" class="cursor-pointer mr-3"
                        ><i
                            class="pi pi-youtube surface-900 p-1 text-sm border-circle text-0"
                        ></i></a
                    ><a tabindex="0" class="cursor-pointer"
                        ><i class="pi pi-google surface-900 p-1 text-sm border-circle text-0"></i
                    ></a>
                </div>
            </div>
        </div>
        <!----><!---->
    </div>
</footer>
