<p-toast></p-toast>
<div class="admin-page">
    <p-card
        [header]="editMode ? 'Chỉnh sửa thông tin khách hàng' : 'Thêm khách hàng'"
        [subheader]="editMode ? 'Bạn có thể chỉnh sửa thông tin khách hàng ở đây' : 'Bạn có thể thêm khách hàng ở đây'"
    >
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-left">
                        <p-button
                            [label]="editMode ? 'Sửa' : 'Thêm'"
                            icon="pi pi-plus"
                            styleClass="p-button-primary p-button-sm"
                            class="mr-2"
                            (click)="onSubmit()"
                        ></p-button>
                        <p-button
                            label="Hủy"
                            icon="pi pi-arrow-circle-left"
                            styleClass="p-button-secondary p-button-sm"
                            class=""
                            (click)="onCancel()"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="p-fluid formgrid grid">
                        <div class="field col col-4">
                            <label for="name">Tên</label>
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="userForm['name'].invalid && isSubmitted" class="p-error">Name is required</small>
                        </div>
                        <div class="field col col-4">
                            <label for="email">Email</label>
                            <input formControlName="email" id="email" type="text" pInputText />
                            <small *ngIf="userForm['email'].invalid && isSubmitted" class="p-error">
                                <span *ngIf="userForm['email'].errors['required']">email is required</span>
                                <span *ngIf="userForm['email'].errors['email']">email is invalid</span>
                            </small>
                        </div>
                        <div class="field col col-4">
                            <label for="password">Mật khẩu</label>
                            <input formControlName="password" id="password" type="password" pInputText />
                            <small *ngIf="userForm['password'].invalid && isSubmitted" class="p-error">Password is required</small>
                        </div>
                        <div class="field col col-4">
                            <label for="color">Điện thoại</label><br />
                            <p-inputMask mask="(+99) 999-9999999" formControlName="phone" placeholder="(0xx) 000_0000000"></p-inputMask>
                            <small *ngIf="userForm['phone'].invalid && isSubmitted" class="p-error">phone is required</small>
                        </div>
                        <div class="field col col-4">
                            <label for="isAdmin">Admin</label><br />
                            <p-inputSwitch formControlName="isAdmin"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="p-fluid formgrid grid">
                        <div class="field col col-4">
                            <label for="street">Đường</label>
                            <input formControlName="street" id="street" type="text" pInputText />
                        </div>
                        <div class="field col col-4">
                            <label for="street">Căn hộ</label>
                            <input formControlName="apartment" id="apartment" type="text" pInputText />
                        </div>
                        <div class="field col col-4">
                            <label for="street">Mã zip</label>
                            <input formControlName="zip" id="zip" type="text" pInputText />
                        </div>
                        <div class="field col col-4">
                            <label for="city">Thành Phố</label>
                            <input formControlName="city" id="city" type="text" pInputText />
                        </div>
                        <div class="field col col-4">
                            <label for="country">Quốc gia</label><br />
                            <p-dropdown
                                [options]="countries"
                                formControlName="country"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Chọn quốc gia"
                            ></p-dropdown>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
