<div class="admin-sidebar">
    <div class="logo">
        <img src="/assets/images/logo_hyper.svg" />
    </div>
    <div class="links">
        <ul>
            <li>
                <a routerLink="/"><i class="pi pi-home"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="/products"><i class="pi pi-briefcase"></i> Sản phẩm</a>
            </li>
            <li>
                <a routerLink="/categories"><i class="pi pi-list"></i> Danh mục</a>
            </li>
            <li>
                <a routerLink="/orders"><i class="pi pi-shopping-cart"></i> Đơn hàng</a>
            </li>
            <li>
                <a routerLink="/users"><i class="pi pi-users"></i> Người dùng</a>
            </li>
            <li>
                <a class="logout"
                    ><i class="pi pi-power-off" (click)="logoutUser()"></i>Đăng xuất</a
                >
            </li>
        </ul>
    </div>
</div>
