.nav {
  li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;

    a {
      color: var(--surface-800);
      font-size:medium;
      font-weight: 800;
      cursor: pointer;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
