<div class="admin-page">
    <p-card header="Add Category" subheader="You can add category here">
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-left">
                        <p-button
                            label="Create"
                            icon="pi pi-plus"
                            styleClass="p-button-primary p-button-sm"
                            class="mr-2"
                            (click)="onSubmit()"
                        ></p-button>
                        <p-button
                            label="Cancel"
                            icon="pi pi-arrow-circle-left"
                            styleClass="p-button-secondary p-button-sm"
                            class=""
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="form">
                    <div class="p-fluid formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="form.get('name').invalid && isSubmited" class="p-error">Cần tên</small>
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label>
                            <input formControlName="icon" id="icon" type="text" pInputText />
                            <small *ngIf="form.get('icon').invalid && isSubmited" class="p-error">Cần icon</small>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
