<p-toast></p-toast>

<div class="admin-page">
    <p-card
        [header]="editMode ? 'Chỉnh sửa sản phẩm' : 'Thêm sản phẩm'"
        [subheader]="editMode ? 'Bạn có thể chỉnh sửa sản phẩm ở đây' : 'Bạn có thể thêm sản phẩm ở đây'"
    >
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-left">
                        <p-button
                            [label]="editMode ? 'Sửa' : 'Thêm'"
                            icon="pi pi-plus"
                            styleClass="p-button-primary p-button-sm"
                            class="mr-2"
                            (click)="onSubmit()"
                        ></p-button>
                        <p-button
                            label="Hủy"
                            icon="pi pi-arrow-circle-left"
                            styleClass="p-button-secondary p-button-sm"
                            class=""
                            (click)="onCancel()"
                        ></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="p-col-12">
                <form [formGroup]="form">
                    <div class="p-fluid formgrid grid">
                        <div class="field col col-4">
                            <label for="name">Tên</label>
                            <input formControlName="name" id="name" type="text" pInputText />
                            <small *ngIf="productForm['name'].invalid && isSubmited" class="p-error">Cần tên</small>
                        </div>
                        <div class="field col col-4">
                            <label for="brand">Thương hiệu</label>
                            <input formControlName="brand" id="brand" type="text" pInputText />
                            <small *ngIf="productForm['brand'].invalid && isSubmited" class="p-error">Cần thương hiệu</small>
                        </div>
                        <div class="field col col-4">
                            <label for="price">Giá</label>
                            <p-inputNumber formControlName="price" mode="decimal" inputId="price"></p-inputNumber>
                            <small *ngIf="productForm['price'].invalid && isSubmited" class="p-error">Cần giá</small>
                        </div>
                    </div>
                    <div class="p-fluid formgrid grid">
                        <div class="field col col-4">
                            <label for="price">Số lượng</label>
                            <p-inputNumber formControlName="countInStock" mode="decimal" inputId="countInStock"></p-inputNumber>
                            <small *ngIf="productForm['countInStock'].invalid && isSubmited" class="p-error">Nhập số lượng</small>
                        </div>
                        <div class="field col col-4">
                            <label for="category">Danh mục</label>
                            <p-dropdown
                                [options]="categories"
                                formControlName="category"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select a Category"
                            ></p-dropdown>

                            <small *ngIf="productForm['category'].invalid && isSubmited" class="p-error">Nhập số lượng</small>
                        </div>
                        <div class="field col col-4">
                            <label for="isFeatured">Sản phẩm mới</label>
                            <br />
                            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="p-fluid formgrid grid">
                        <div class="field col">
                            <label for="description">Mô tả</label>
                            <textarea [rows]="7" cols="30" formControlName="description" pInputTextarea></textarea>
                            <small *ngIf="productForm['description'].invalid && isSubmited" class="p-error">Nhập mô tả</small>
                        </div>
                        <div class="field col col-12">
                            <label for="richDescription">Chi tiết mô tả </label>
                            <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
                            <small *ngIf="productForm['richDescription'].invalid && isSubmited" class="p-error">Nhập chi tiết mô tả</small>
                        </div>
                        <div class="field col col-12">
                            <label for="image">Ảnh chính </label>
                            <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
                            <small *ngIf="productForm['image'].invalid && isSubmited" class="p-error">Chưa có ảnh cho sản phẩm</small>
                            <div class="col-2 mt-2">
                                <img style="width: 100%; border-radius: 5px" [src]="imageDisplay" alt="" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
