//Base config
@import '~normalize.css/normalize.css';
@import './base/colors.scss';
@import './base/fonts.scss';
@import './base/mixins.scss';

//Libraries
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/lara-light-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~primeflex/primeflex.css';

//Shared
@import './apps/admin/shell.scss';

//Update primeng => upadte configuration
@import './base/configuration.scss';
//Libs

@import './libs/ui/ui.scss';
@import'./libs/users/user.scss';
